.card-custom {
  background: rgba(255, 255, 255, 0.2); 
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
}

.bg-spa-img{
  background-image: url("../public/img/bgDark.webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  padding-top: 5rem;
}

.bg-services-img{
  background-image: url("../public/img/bgServices2.webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.truncate-9-lines {
  display: -webkit-box;
  display: -moz-box;
  display: box;
  
  -webkit-line-clamp: 9;
  -moz-line-clamp: 9;
  line-clamp: 9;
  
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  box-orient: vertical;
  
  overflow: hidden;
  text-overflow: ellipsis;
}

:root {
  /* Definición de la paleta */
  --color-1: #0E3D40;    /* Verde oscuro azulado */
  --color-2: #25776F;    /* Verde petróleo */
  --color-3: #5BA191;    /* Verde menta */
  --color-4: #c0b58a;    /* Beige dorado */
  --color-5: #3A8C9A;    /* Azul verdoso claro */
  
  /* Colores de texto para contrastar */
  --text-on-dark: #FFFFFF; /* Blanco para fondos oscuros (1, 2) */
  --text-on-light: #333333; /* Gris oscuro para fondos claros (3, 4) */
  --text-on-medium: #FFFFFF; /* Blanco para fondo medio (5) */
}

/* Clases para colores de texto */
.color-1 { color: var(--color-1); }
.color-2 { color: var(--color-2); }
.color-3 { color: var(--color-3); }
.color-4 { color: var(--color-4); }
.color-5 { color: var(--color-5); }

/* Clases para fondos con texto contrastante */
.bg-color-1 {
  background-color: var(--color-1);
  color: var(--text-on-dark);
}
.bg-color-2 {
  background-color: var(--color-2);
  color: var(--text-on-dark);
}
.bg-color-3 {
  background-color: var(--color-3);
  color: var(--text-on-light);
}
.bg-color-4 {
  background-color: var(--color-4);
  color: var(--text-on-light);
}
.bg-color-5 {
  background-color: var(--color-5);
  color: var(--text-on-medium);
}